<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos de Municipio</title>
</head>
<body>
<h1>Datos de Municipio</h1>
<a th:href="@{/municipios}"> Regresar </a>
<br/>
<form th:action="@{/guardarMunicipio}" method="post" th:object="${municipio}">
    <input type="hidden" name="id_mun" th:field="*{id_mun}">
    <br/>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" th:field="*{nombre}" />
    <br/>
    <label for="area">Área:</label>
    <input type="text" name="area" th:field="*{area}" />
    <br/>
    <label for="presupuesto">Presupuesto:</label>
    <input type="text" name="presupuesto" th:field="*{presupuesto}" />
    <br/>
    <input type="submit" name="guardar" value="Guardar">
</form>
</body>
</html>